@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-color: #a1eca1;
}

/* UTILITIES */

p {
    text-align: justify;
    text-indent: 30px;
    padding: 15px 0px;
}

strong {
    color: #133a15;
}

.font-android {
    font-family: 'Android', Arial, Helvetica, sans-serif;
    color: #0B570D;
}


.title-background {
    text-indent: 5px;
    background-image: linear-gradient(to right, #79EA7B, white);
}

a {
    background-color: #79EA7B;
    color: #133a15;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 5px;
}

a:hover {
    text-decoration: underline;
}

a::after {
    content: "🔗";
}

.img-align {
    text-align: center;
}


/* HEADER */

header {
    background-image: linear-gradient(to bottom, #25A827, #0B570D);
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.39);
}

header > h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

header > p {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: auto;
    padding: 20px 40px;
}

/* NAVBAR */

ul#nav-menu {
    list-style-type: none;
    padding: 0px;
}

li.nav-itens {
    color: #ade7b0;
    font-size: 14px;
    display: inline-block;
    padding: 5px 10px;
}

li.nav-itens:hover {
    background-color: #56bd5e;
    color: #133a15;
    border-radius: 2px;
    cursor: pointer;
}

/* MAIN */

#main-container {
    margin: auto;
    max-width: 900px;
}

main {
    background-color: white;
    margin: auto;
    padding: 20px 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 35%);
}

article {
    padding: 10px 20px;
}

#article-video {
    background-color: #133a15;
    padding: 20px 40px;
}

/* ASIDE(EXTRA CONTENT) */

#extra-container {
    background-color: #79EA7B;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 35%);
}

#extra-title {
    background-color: #2A9B3E;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

#extra-content-container {
    padding: 10px;
}

#extra-ul-container {
    padding: 10px 0px;
    display: block;
    text-align: left;
}

#extra-ul-1-container {
    display: inline-block;
    text-align: left;
}

#extra-ul-2-container {
    display: inline-block;
    text-align: left;
}

.extra-ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.extra-itens {
    list-style-type: none;
}

.extra-itens::before {
    content: "🗸 ";
    font-style: normal;
    font-weight: bold;
}


/* FOOTER */

footer {
    background-color: #0B570D;
    margin-top: 15px;
}

#footer-text {
    font-size: 13px;
    color: white;
    text-align: center;
    padding: 8px;
}

#footer-link {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

#footer-link::after {
    content: none;
}